p
{
	font-family: Verdana;
	font-size: 12px;
	color: #333;
	text-align:justify
}

a:link 
{
	text-decoration: none;
	color: #0170c1;
}

a:visited 
{
	text-decoration: none;
	color: #0170c1;
}

a:hover 
{
	text-decoration: none;
	color: #2694e4;
}

a:active 
{
	text-decoration: none;
	color: #0170c1;
}



label
{
	font-family: Verdana;
	font-size: 12px;
	color: #333;
	text-align:justify
}

.Subtitle
{
	font-family: Trebuchet MS; 
	font-size: 21px;
	color: #0170c1;
	text-align:justify
}

.Subtitle2
{
	font-family: Trebuchet MS; 
	font-size: 18px;
	color: #0170b0;
	text-align:justify
}

h4.username 
{
    font-family: Trebuchet MS !important; 
	font-size: 21px;
	color: #0170c1;
	text-align:justify
}



table.tb_tex
{
	border: solid 2px #0170c1;
	width: 100%;
}



table.tb_tex tbody tr th
{
	background-color:#0170c1;
	color:#ffffff !important;
	text-align:center;
	font-style:bold;
}

/* Agregado por Pablo César Sánchez Porta
============================================== */
.error { padding:10px; background:#fc3a3a ; color:#FFF ; font-family:Verdana; font-size:14px; display:none; }
.tb_tex{ margin-left:2.5%;}
.tb_tex th{ padding: 10px; }
.tb_tex tr:hover { background:#e5ecf4; cursor:default; }
.tb_tex tr:first-child { background:none; cursor:default; }